body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #232f3e;
    padding: 20px;
    text-align: center;
}

.header h1 {
    color: #ff9900;
    font-size: 36px;
    margin-top: 2px;
}

.content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
}

.content h2 {
    color: #232f3e;
    font-size: 28px;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.content ul li {
    margin-bottom: 10px;
}

.footer {
    background-color: #4c0070;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar {
    width: 100%;
    background-color: #4c0070;
    padding: 15px 0;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}
.navbar ul li {
    display: inline;
    margin: 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
    margin-left:100px;
}
