body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #800080;
}

.carousel {
    overflow: hidden;
    width: 100%;
    background-color: #f3e5f5;
    padding: 20px;
    border-radius: 15px;
}

.carousel-inner {
    display: flex;
    animation: scroll 10s linear infinite;
}

.carousel-item {
    min-width: 300px;
    margin-right: 20px;
    background-color: #4c8ba3;
    padding:20px;
    border-radius: 10px;
    text-align: center;
}

@keyframes scroll {
    70% {
        transform: translateX(5);
    }
    50% {
        transform: translateX(-50%);
    }
}


.navbar {
    width: 100%;
    background-color: #4c0070;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    display: inline;
    margin: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
    margin-left:100px;
}

.navbar ul li a:hover {
    color: #ffa500;
}
.footer {
    background-color: #4c0070;
    color: white;
    text-align: center;
    padding: 25px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

}
.fot-button{
    background-color: #ff9900;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 50px;
}
.fot-button:hover {
    background-color: #ffba5c;
}
p{
    color: honeydew;
}